*{
box-sizing:border-box;
margin:0;
padding:0;
}
h1{
text-align:right;
}

#heading{
width:100%;
text-align:center;
top:0px;
right:0px;
position:absolute;

}
.chicken{
background-color:rose;
}

.beef{
background-color:red;
}

.sushi{
background-color:green;
}

.row{
width=100%;
}
.contain{
background-color:grey;
width:90%;
margin-left:auto;
margin-right:auto;
border:1px solid black;
position:relative;
}

.section{
padding:25px;
color:white;
}
@media (min-width:992px){
.col-lg1,.cal-lg-2,.cal-lg-3,.col-lg-4,.cal-lg-5,.cal-lg-5,.cal-lg-6,.cal-lg-7,.cal-lg-8,.cal-lg-9,.cal-lg-10,.cal-lg-11,.cal-lg-12
{flaot:left;
}

.cal-lg-1{
width:8.33%;
}
.cal-lg-2{
width:16.66%;
}
.cal-lg-3{
width:25%;
}
.cal-lg-4{
width:33.33%;
}
.cal-lg-5{
width:41.66%;
}
.cal-lg-6{
width:50%;
}
.cal-lg-7{
width:59.33%;
}
.cal-lg-8{
width:66.66%
}
.cal-lg-9{
width:74.99%;
}
.cal-lg-10{
width:83.33%;
}
.cal-lg-11{
width:91.66%;
}
.cal-lg-12{
width:100%;
}
}
/********** Medium devices only **********/
@media (min-width:768px) and (max-width:991){
.cla-md-1,.cal-md-2,.cal-md-3,.cal-md-4,.cal-md-5,.cal-md-6,.cal-md-7,.cal-md-8,.cal-md-9,.cal-md-10,.cal-md-11,.cal-md-12
{
float:left;
}
.cal-md-1{
width:8.33%;
}
.cal-md-2{
width:16.66%;
}
.cal-md-3{
width:25%;
}
.cal-md-4{
width:33.33%;
}
.cal-md-5{
width:41.66%;
}
.cal-md-6{
width:50%;
}
.cal-md-7{
width:58.33%;
}
.cal-md-8{
width:66.66%;
}
.cal-md-9{
width:74.99%;
}
.cal-md-10{
width:83.33%;
}
.cal-md-11{
width:91.66%;
}
.cal-md-12{
width:100%;
}
#section3{
width:95%;
margin-top:30px;
margin-left:auto;
margin-right:auto;
}
}
@media(max-width:767px){
.contain {margin-bottom:10px;
}
}
